:root {
    --purple: #332273;
    --lightPurple: #D6D2E8;
    --pink: #A860E2;
    --gray: #AAAAAA;
}
body {
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
}
a {
    color: var(--pink);
    text-decoration: none;
}
/* Start Page Styling */

#quizArea{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-inline: 2rem;
    gap: 0.5rem;
}
#quizArea p{
    max-width:40rem;
}
/* Default Button Styling */

#quizArea button {
    width: 10rem;
    background-color: var(--purple);
    border: none;
    padding: 0.5rem 1.2rem;
    color:white;
    border-radius: 10px;
    transition-duration: 0.3s;
    text-align: center;
}
#quizArea button:hover {
    background-color: var(--pink);
    cursor: pointer;
    transition-duration: 0.3s;
}

/* Question Page Styling */
#buttonArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
/* }
#buttonArea button {
    width: 10rem;
    background-color: var(--purple);
    border: none;
    padding: 0.5rem 1.2rem;
    color:white;
    border-radius: 10px;
    transition-duration: 0.3s;
}
#buttonArea button:hover {
    background-color: var(--pink);
    cursor: pointer;
    transition-duration: 0.3s;
}

#submitScoreBtn {
    margin: 0 auto;
    text-align:center;
    width: 100%;
}  */

/* Answer result styling */
.answerResult {
    color: var(--gray);
    font-style: italic;
}
.answerWrong {
    animation: wrongAnswer 1s ease-in-out backwards;
}
.answerResult hr {
    background-color: var(--gray);
    border: none;
    height:1px;
}
#highScoreList{
display: flex;
flex-direction: column;
}
#highScoreList span:nth-child(even) {
    background-color: var(--lightPurple);
}
/* Turn "wrong answer" text red to catch user attention */
@keyframes wrongAnswer {
from {color: red;}
to {color: var(--gray)}
}