:root {
    --purple: #332273;
    --lightPurple: #D6D2E8;
    --pink: #A860E2;
    --gray: #AAAAAA;
}
body {
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
}
a {
    color: var(--pink);
    text-decoration: none;
}
/* Start Page Styling */

#quizArea{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-inline: 2rem;
}
#quizArea p{
    max-width:40rem;
}
/* Default Button Styling */

button {
    width: fit-content;
    background-color: var(--purple);
    border: none;
    padding: 0.5rem 1.2rem;
    color:white;
    border-radius: 10px;
    transition-duration: 0.3s;
}
button:hover {
    background-color: var(--pink);
    cursor: pointer;
    transition-duration: 0.3s;
}

/* Question Page Styling */
#buttonArea {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#buttonArea button {
    text-align:left;
    width: 10rem;
    background-color: var(--purple);
    border: none;
    padding: 0.5rem 1.2rem;
    color:white;
    border-radius: 10px;
    transition-duration: 0.3s;
}
#buttonArea button:hover {
    background-color: var(--pink);
    cursor: pointer;
    transition-duration: 0.3s;
}

/* Answer result styling */
.answerResult {
    color: var(--gray);
    font-style: italic;
}
.answerResult hr {
    background-color: var(--gray);
    border: none;
    height:1px;
}
.scoresList {
display: flex;
flex-direction: column;
}
.highScores span:nth-child(even) {
    background-color: var(--lightPurple);
}